<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><b>Match Teams</b></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-icon color="primary" name="megaphone-outline" slot="start"></ion-icon>
          <ion-label color="primary">Please check your team after toss</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngFor="let item of teamImages;let index = index">
        <div class="global_img">
          <ion-card class="ion-no-margin" button (click)="viewTeam(item)" style="border-radius: 12px;">
            <img *ngIf="item" [src]="item" alt="" height="150px" style="width: 100%;object-fit: cover;" />
            <img *ngIf="!item" src="assets/upcomming.png" alt="" />
            <ion-list-header color="primary">
              <ion-label>Best Team {{index+1}}</ion-label>
              <ion-button class=" ion-text-capitalize">View</ion-button>
            </ion-list-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>