<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><b>Privacy Policy</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-content>
    <ion-card>
      <ion-card-content>
        <h5>
          <b>Dream Team 11</b>
        </h5>
        This app is only for team 11 guide. this app not for any other.
      </ion-card-content>
      <ion-card-content>
        Dream11 Company does not support this Dream team 11 direct or indirect way. We are provide dream teams before
        toss
        so your responsibility is check your dream team 11 after toss. Because players can be different after toss.
      </ion-card-content>
      <ion-card-content>
        Contact us : squareapps777@gmail.com
      </ion-card-content>
      <ion-card-content>
        <h5>
          <b>Thank You</b>
        </h5>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" href="https://t.me/+BdkyM5Scp3IxYzA9">
      <ion-img src="assets/telegram.png"></ion-img>
    </ion-fab-button>
    <p class="tellyads">AD</p>
  </ion-fab> -->
</ion-content>